<h1><%= @movie.name %></h1>

<table class="table">
<% @name = @movie.name.gsub(' ', '%20') %>
<% if (@movie.release_date) %>
	<tr><td><%= link_to @movie.release_date.strftime('%d.%m.%Y'), 'https://en.wikipedia.org/wiki/' + @name, target: '_blank' %>. <%= link_to 'Дата неверна?', edit_movie_path(@movie) %></td></tr>
<% else %>
	<tr><td>Дата выхода серии <%= link_to 'неизвестна', 'https://en.wikipedia.org/wiki/' + @name, target: '_blank' %>. <%= link_to 'Указать дату', edit_movie_path(@movie) %></td></tr>
<% end %>
<% if(@movie.release_date && @movie.release_date < Time.now) %>
	<tr><td><%= link_to 'Найти субтитры', 'http://www.opensubtitles.org/en/search2/sublanguageid-eng/moviename-' + @name, target: '_blank' %></td></tr>
	<tr><td><%= link_to 'Найти torrent', @torrentDomain + @name + '%20720p', target: '_blank' %></td></tr>
<% end %>
<tr><td><%= link_to 'Изменить фильм', edit_movie_path(@movie) %></td></tr>
<tr><td><%= link_to 'Я посмотрел фильм', @movie, method: :delete, data: {confirm: 'Точно посмотрел? Фильм будет удален из списка'} %></td></tr>
</table>

<%= link_to 'На главную', tv_series_path %>